

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

header {
    background-color: #003366;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #005cbf;
    color: #fff;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ffcc00;
}

section {
    padding: 20px;
    margin: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

footer {
    background-color: #003366;
    color: #fff;
    padding: 20px;
    text-align: center;
    position:relative;
    bottom: 0;
    max-width: 100%;
    height: auto;
    width: auto; 
}


section h3 {
    color: #003366;
}

section ul {
    list-style: none;
    padding: 0;
}

section ul li {
    margin-bottom: 10px;
}

section ul li a {
    color: #005cbf;
    text-decoration: none;
    font-weight: bold;
}

section ul li a:hover {
    color: red;
}

#mac1{
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    width: auto;    
}

iframe{
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    width: auto;
    
}

footer h3{
    height: auto;
    width: auto;
}

marquee{
    color: red;
    font-size: 2rem;
}
table{
    border-spacing: 0;
    max-width: 100%;
    height: auto;
    width: auto; 
    position: relative;
    
}
td{
    padding:10px;
    border: black 0.5px solid;
    font-size: larger;
    font-family: "Bookman Old Style";
    margin: auto;
    
}

thead{
    font-weight: 450;
}

.exam{
    color: black;
    font: 1em sans-serif;
}
